@charset "UTF-8";
@font-face {
  font-family: 'signikabold';
  src: url("../fonts/signika/signika-bold-webfont.woff2") format("woff2"), url("../fonts/signika/signika-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'signikalight';
  src: url("../fonts/signika/signika-light-webfont.woff2") format("woff2"), url("../fonts/signika/signika-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'signikamedium';
  src: url("../fonts/signika/signika-medium-webfont.woff2") format("woff2"), url("../fonts/signika/signika-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'signikaregular';
  src: url("../fonts/signika/signika-regular-webfont.woff2") format("woff2"), url("../fonts/signika/signika-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'signikasemibold';
  src: url("../fonts/signika/signika-semibold-webfont.woff2") format("woff2"), url("../fonts/signika/signika-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/********************************/
/*    Variables dark version	*/
/********************************/
/********************************/
/*    Variables light version	*/
/********************************/
/* Violet foncé */
/* Jaune */
.outer-menu {
  z-index: 2001;
  position: fixed;
  top: 10px;
  left: 0px;
  margin: .5rem 1rem; }

.outer-menu .checkbox-toggle {
  /*position: absolute;
  top: 0;
  left: 0;*/
  position: relative;
  z-index: 2001;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0; }

.outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: block; }

.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0; }

.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible; }

.outer-menu .checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s; }

.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s; }

.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); }

.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1em 1em;
  background: #ffc421;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
  flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.outer-menu .hamburger > div:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: none; }

.outer-menu .hamburger > div:after {
  content: '';
  z-index: 1;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.outer-menu .hamburger > div:after {
  top: 10px; }

.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*visibility: hidden;*/
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.outer-menu .menu > div {
  width: 150%;
  height: 150%;
  padding: 25%;
  color: #FEFEFE;
  background: #1B1B1B;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
  flex: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center; }

.outer-menu .menu > div > div {
  width: 100%;
  max-width: 800px; }

.searchArea {
  position: relative; }

#result {
  width: 94%;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50px;
  z-index: 2;
  margin: 0 auto;
  text-align: left;
  background-color: #fff; }

.resultRow {
  padding: 2px 15px;
  display: block;
  cursor: pointer;
  background-color: #323232; }

.resultRow:hover {
  background-color: #505050; }

.poster {
  background-image: url("../img/noimage.png");
  display: inline-block;
  width: 40px;
  height: 54px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle; }

.description {
  display: inline-block;
  padding: 15px;
  vertical-align: middle;
  width: 75%;
  line-height: 1.2em; }

.description h4 {
  color: #fff;
  font-size: 18px;
  padding-bottom: 4px;
  font-weight: 300;
  line-height: 1.2em; }

.description h5 {
  color: #fff;
  font-size: 13px;
  font-weight: 300; }

.log {
  background-color: #fff; }

body {
  padding-top: 90px;
  background-attachment: fixed;
  background-image: url(../images/fg.png), url(../images/bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #161616;
  font-family: "signikalight"; }

h1 {
  font-family: "signikalight";
  font-weight: normal;
  color: #fff;
  font-size: 4rem;
  margin: 0; }

h2 {
  font-size: 1.2rem;
  color: #999; }

.link {
  display: inline-block;
  color: #f1ad1f; }
  .link:hover {
    color: #f1ad1f; }

.success {
  color: #6EEB83; }

.error {
  color: #D64933; }

.message {
  width: 100%;
  background-color: #505050;
  padding: 20px;
  margin: 20px 0; }

/*******************************/
/*       Bootstrap Hack        */
/*******************************/
.container-fluid {
  max-width: 1440px; }

.btn-primary {
  background-color: transparent;
  border: solid 1Px #f1ad1f;
  color: #f1ad1f; }
  .btn-primary:hover {
    background-color: #f1ad1f;
    border-color: #f7c457;
    color: #000; }
  .btn-primary:disabled {
    background-color: transparent;
    border: solid 1Px #f1ad1f;
    color: #f1ad1f; }
  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #f7c457;
    border-color: #f7c457; }
  .btn-primary:focus {
    background-color: #f7c457;
    border-color: #f7c457;
    box-shadow: 0 0 0 0.2rem rgba(247, 196, 87, 0.5); }

.btn-secondary {
  background-color: transparent;
  border: solid 1Px #aaa;
  color: #aaa; }
  .btn-secondary:hover {
    background-color: #aaa;
    border-color: #aaa;
    color: #fff; }

.btn-danger {
  background-color: transparent;
  border: solid 1Px #D64933;
  color: #D64933; }
  .btn-danger:hover {
    background-color: #D64933;
    border-color: #D64933;
    color: #fff; }

.page-link {
  color: #343a40;
  background-color: transparent;
  border: none;
  color: #999; }
  .page-link:hover {
    background-color: transparent;
    border-color: transparent;
    color: #f1ad1f; }

.page-item.active .page-link {
  background-color: #f1ad1f;
  border-color: #f1ad1f; }

.jumbotron {
  background-color: transparent;
  border-bottom: solid 1px #323232; }

.jumbotron p {
  color: #999; }

.badge {
  font-size: 16px;
  font-weight: normal; }
  .badge.badge-info {
    background-color: #f1ad1f;
    color: #000; }

/*******************************/
/*         Navigation          */
/*******************************/
.navbar {
  background: #0b0b0b; }
  .navbar .navbar-toggler {
    margin-top: 20px;
    margin-bottom: 20px; }
  .navbar .navbar-collapse.show .nav-item, .navbar .navbar-collapse.collapsing .nav-item {
    border: solid 1px #f1ad1f;
    width: 100%;
    text-align: center;
    margin-bottom: 10px !important; }
    .navbar .navbar-collapse.show .nav-item img, .navbar .navbar-collapse.collapsing .nav-item img {
      display: none; }
    .navbar .navbar-collapse.show .nav-item:hover, .navbar .navbar-collapse.collapsing .nav-item:hover {
      background-color: #f1ad1f; }
      .navbar .navbar-collapse.show .nav-item:hover a, .navbar .navbar-collapse.collapsing .nav-item:hover a {
        color: #000 !important; }
  .navbar .navbar-collapse .navbar-nav .nav-item {
    margin: 0; }
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #fff;
      font-family: "signikalight"; }
      .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.nav-selected {
        color: #f1ad1f; }
      .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: #f1ad1f; }

.logo {
  z-index: 2000;
  position: fixed;
  top: 10px;
  margin-left: -87px;
  left: 50%; }
  .logo.smallLogo {
    margin-left: -28px;
    top: 15px; }
  .logo img {
    height: 70px; }

.loginPage .form, .subscribePage .form {
  max-width: 300px; }

/*******************************/
/*            Card             */
/*******************************/
.commentCard {
  background-color: #1B1B1B;
  position: relative;
  border-radius: 0;
  height: 100%;
  transition: all 1s ease-out; }
  .commentCard .card-date {
    font-size: 0.8rem;
    color: #aaa; }
  .commentCard .card-corner {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px; }
    .commentCard .card-corner span {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 100px;
      height: 30px;
      right: -30px;
      top: 5px;
      text-align: center;
      font-size: 16px;
      transform: rotate(45deg);
      display: block;
      background-color: #D64933;
      color: #fff;
      line-height: 30px;
      text-align: center; }
  .commentCard .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 1s ease-out;
    border-bottom: solid 2px #505050; }
    .commentCard .card-footer:before {
      z-index: 1;
      background: #f1ad1f;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      right: 0;
      width: 0; }
    .commentCard .card-footer:after {
      bottom: -3px;
      content: '';
      display: block;
      position: absolute;
      right: -13px;
      transform: rotate(135deg);
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #505050; }
    .commentCard .card-footer a {
      color: #f1ad1f; }
  .commentCard .movieCard {
    position: relative;
    width: 100%;
    display: block; }
    .commentCard .movieCard:hover {
      text-decoration: none; }
      .commentCard .movieCard:hover img {
        opacity: 1 !important; }
    .commentCard .movieCard .movieCardHeader {
      height: 230px;
      overflow: hidden;
      position: relative; }
      .commentCard .movieCard .movieCardHeader .moviCardText {
        border: solid 1px yellow;
        position: absolute;
        top: 0; }
      .commentCard .movieCard .movieCardHeader img {
        margin-top: -10%;
        opacity: 0.6; }
    .commentCard .movieCard .movieCardTitle {
      font-size: 32px;
      font-family: "signikaregular";
      color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 0.3em;
      display: block;
      z-index: 1;
      background: #f1ad1f;
      bottom: 0;
      color: #fff;
      font-size: 1rem;
      left: 0;
      letter-spacing: 2px;
      padding: .3125rem .625rem;
      position: absolute;
      text-transform: uppercase; }
      .commentCard .movieCard .movieCardTitle:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 27px solid transparent;
        border-right: 27px solid transparent;
        border-bottom: 27px solid #f1ad1f;
        position: absolute;
        top: 15px;
        right: -36px;
        transform: rotate(225deg); }
  .commentCard blockquote {
    color: #999;
    font-family: "signikalight";
    margin: 0;
    text-align: justify; }
    .commentCard blockquote a {
      color: #f1ad1f; }

.user {
  text-align: center;
  display: block;
  max-width: 100px; }
  .user .pseudo {
    margin-bottom: 0;
    color: #999;
    font-size: 18px; }
  .user:hover {
    text-decoration: none; }

.img-box {
  padding: 5px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  background-color: #323232; }
  .img-box img {
    border-radius: 50%;
    width: 100% !important; }

.navbar-brand img {
  max-height: 66px; }

.gravatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 10px; }

footer {
  color: #999;
  margin-top: 4rem; }
  footer p {
    margin: 0; }
  footer .footerUp {
    background: rgba(11, 11, 11, 0.4);
    padding: 1rem; }
  footer .footerDown {
    background-color: #000;
    padding: 1rem; }

.rate, .rateRO {
  font-size: 30px; }
  .rate .rate-base-layer, .rateRO .rate-base-layer {
    color: #aaa; }
  .rate .rate-hover-layer, .rateRO .rate-hover-layer {
    color: #f7c457; }
  .rate .rate-select-layer, .rateRO .rate-select-layer {
    color: #f1ad1f; }

.seriePoster img {
  max-width: 100%; }

.highlight {
  border: solid 1px #323232;
  color: #fff;
  background: transparent; }
  .highlight .user .pseudo {
    color: #fff; }

/*******************************************/
/*           	Series page                */
/*******************************************/
.seriesPage td.title {
  font-size: 20px; }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #f1ad1f; }

table.dataTable.display thead th {
  color: #fff;
  font-weight: normal;
  padding: 10px 10px 10px 0px; }
  table.dataTable.display thead th.sorting_desc, table.dataTable.display thead th.sorting_asc {
    color: #f1ad1f; }
table.dataTable.display tbody tr {
  background-color: #323232; }
  table.dataTable.display tbody tr td {
    color: #999;
    border: none;
    padding: 0;
    padding-right: 10px; }
    table.dataTable.display tbody tr td img {
      max-width: 100px; }
    table.dataTable.display tbody tr td.sorting_1 {
      background-color: transparent !important; }
  table.dataTable.display tbody tr:hover {
    background-color: #323232 !important; }
  table.dataTable.display tbody tr.odd {
    background-color: #1B1B1B !important; }
    table.dataTable.display tbody tr.odd:hover {
      background-color: #1B1B1B !important; }

/*******************************************/
.serie-yearAndGenre {
  color: #aaa;
  margin-bottom: 1rem;
  display: block; }

.serie {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: solid 1Px #ddd;
  font-size: 0.9rem; }
  .serie a h4 {
    color: #f1ad1f; }
    .serie a h4:hover {
      color: #f7c457; }
  .serie a:hover {
    text-decoration: none; }
  .serie .poster img {
    width: 70px; }
  .serie .poster:hover {
    opacity: 0.8; }

.replies {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  border: solid 1Px #ddd;
  font-size: 0.9rem;
  margin-top: 1rem; }

.fiche-serie .jumbotron {
  background-size: cover;
  position: relative; }
  .fiche-serie .jumbotron::before {
    content: ' ';
    background: black;
    opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  .fiche-serie .jumbotron .container {
    color: white; }
    .fiche-serie .jumbotron .container h1 {
      position: relative; }
.fiche-serie .platform {
  width: 100%; }

.info {
  cursor: pointer; }

.tooltip .tooltip-inner {
  min-width: 500px !important; }

.betaSeriesDescription img {
  float: left;
  margin: 10px;
  margin-left: 0; }

.action img {
  width: 70px; }

/****************************************/
/*              Forms                   */
/****************************************/
.form {
  max-width: 600px;
  margin: auto; }
  .form img {
    max-width: 100%; }

/****************************************/
/*           Friends page               */
/****************************************/
.friendCard {
  background-color: #1B1B1B;
  color: #999;
  padding: 20px; }
  .friendCard .user {
    margin: auto; }
  .friendCard .friendCompatibility {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; }

/****************************************/
/*              User page               */
/****************************************/
.userPage .user .img-box {
  width: 90px;
  height: 90px; }
.userPage .user .pseudo {
  font-size: 30px;
  margin-top: 10px; }
.userPage .jumbotron .card {
  background-color: #323232; }
  .userPage .jumbotron .card .card-header {
    background-color: #505050;
    color: #999; }

/****************************************/
/*              Account page            */
/****************************************/
.accountPage {
  color: #999; }

/*# sourceMappingURL=main.css.map */
