.searchArea{
	position:relative;
}

#result {
	width: 94%;
	position:absolute;left:15px;right:15px;top:50px;z-index:2;
	margin: 0 auto;
	text-align: left;
	background-color:#fff;
}

.resultRow {
	padding: 2px 15px;
	display: block;
	cursor:pointer;
	background-color:$lightGrey;

}

.resultRow:hover {
	background-color:$veryLightGrey;
}

.poster {
	background-image: url('../img/noimage.png');
	display: inline-block;
	width: 40px;
	height: 54px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.description {
	display: inline-block;
	padding: 15px;
	vertical-align: middle;
	width: 75%;
	line-height: 1.2em;
}

.description h4 {
	color: #fff;
	font-size: 18px;
	padding-bottom: 4px;
	font-weight: 300;
	line-height: 1.2em;
}

.description h5 {
	color: #fff;
	font-size: 13px;
	font-weight: 300;
}


