.outer-menu {
  z-index: 2001;
  position:fixed;top:10px;left:0px;
  margin: .5rem 1rem;
}
.outer-menu .checkbox-toggle {
  /*position: absolute;
  top: 0;
  left: 0;*/
  position:relative;
  z-index: 2001;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

/*.outer-menu .checkbox-toggle:checked + .hamburger > div{
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}*/

.show .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/*.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display:block;
}*/

.show .hamburger > div:before,
.show .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display:block;
}

/*.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}*/

/*.show .hamburger > div:after {
  opacity: 0;
}*/

/*.outer-menu .checkbox-toggle:checked ~ .menu,*/
.show .menu {
  pointer-events: auto !important;
  visibility: visible !important;
}

/*.outer-menu .checkbox-toggle:checked ~ .menu > div{
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}*/

.show .menu > div {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition-duration: 0.75s !important;
          transition-duration: 0.75s !important;
}

/*.outer-menu .checkbox-toggle:checked ~ .menu > div > div{
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}*/

.show > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/*.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}*/

.show:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}


.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1em 1em;
  background: #ffc421;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
          flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.outer-menu .hamburger > div:before {
  content: '';
  position:absolute;
  z-index: 1;
  top:-10px;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display:none;
}

.outer-menu .hamburger > div:after {
  content: '';
  z-index: 1;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*visibility: hidden;*/
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.outer-menu .menu > div {
  width: 150%;
  height: 150%;
  padding:25%;
  color: #FEFEFE;
  background: $darkGrey;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.outer-menu .menu > div > div{
  width:100%;
  max-width:800px;
}