/********************************/
/*    Variables dark version	*/
/********************************/ 

$darkGrey:#1B1B1B;
$lightGrey:#323232;
$veryLightGrey:#505050;
$veryVeryLightGrey:#aaa;
$lightBlack:#0b0b0b;
$textColor:#999;
$fontRegular:'signikaregular';
$fontLight:'signikalight';

$red:#dc3545;

/********************************/
/*    Variables light version	*/
/********************************/ 

$primaryColor:#f1ad1f;
$primaryColorHover:#f7c457;

$dark:#343a40;
$lightDark:#464e56;
$background:#f9f9f9;
$background2:#f1f1f1;
$border:#ddd;

$purple:#310A31;
$red:#A50104;
$green:#6EEB83;
$orange:#D95D39;

$yellow:#f1ad1f;
$lightYellow:#f7c457;
$gray:#aaa;

$color1:#525969; /* Violet foncé */
$color4:#ffc421; /* Jaune */

$niveau1:rgba(0,0,0,.1);
$niveau2:rgba(0,0,0,.2);
$niveau3:rgba(0,0,0,.3);
$niveau4:rgba(0,0,0,.4);
$niveau5:rgba(0,0,0,.5);
$niveau6:rgba(0,0,0,.6);
$niveau7:rgba(0,0,0,.7);
$niveau8:rgba(0,0,0,.8);
$niveau9:rgba(0,0,0,.9);