$primaryColor:#f1ad1f;
$primaryColorHover:#f7c457;
$dark:#343a40;
$lightDark:#464e56;
$background:#f9f9f9;
$background2:#f1f1f1;
$border:#ddd;

$yellow:#f1ad1f;
$lightYellow:#f7c457;
$red:#dc3545;
$gray:#aaa;

.card{
	
	background-color:$background;
	position:relative; 

	blockquote{
		margin:1rem;margin-left:0;
	}

	.card-date{
		font-size:0.8rem;
		color:$gray;
		line-height:52px;
	}

	.card-corner{
  		position:absolute;
  		right:0;top:0;
  		display:block;
  		overflow:hidden;
  		width:100px;height:100px;

  		span{
  		  position:absolute;top:0;right:0;	
		  width: 100px;height:30px;
		  right: -30px;top:5px;
		  text-align: center;
		  font-size: 16px;
		  font-family: arial;
		  transform: rotate(45deg);
		  display:block;
			background-color:$red;
  			color:#fff;
  			line-height:30px;
  			text-align:center;
  		border:solid 2px #fff;
  		}

	}	

	.card-text{
			color:#666; 
	}

	.card-footer{
		a{
			color:$primaryColor;
		}
	}

} /* card */

.user{

	text-align:center;
	display:block;

	.pseudo{
		margin-bottom:0;
		color:#212529; 
	}

	&:hover{
		opacity:0.8;
	}

}/* card-user */

.img-box{

	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
	width:70px;height:70px;
	background-color:#fff;
	margin:auto;

	img{
		border-radius: 50%;
		width:100%;
	}

}

.btn-primary{ 
	background-color:$primaryColor;
	border:solid 1Px $primaryColor;

	&:hover{
		background-color:$primaryColorHover;
		border-color:$primaryColorHover;
	}

	&:disabled{
		background-color:$primaryColor;
		border:solid 1Px $primaryColor;
	}

}

.navbar-brand{
	img{
	max-height:50px;
	}
}

.gravatar{
	width:60px;height:60px;
	border-radius:30px;
	margin-right:10px;
}

footer{

	color:#fff;
	margin-top:4rem;

	.footerUp{
		background-color:$lightDark;
		padding:1rem;
	}

	.footerDown{
		background-color:$dark;
		padding:1rem;
	}

}

.rate, .rateRO{
	
	font-size:35px;

	.rate-base-layer
    {
        color: #aaa;
    }
    .rate-hover-layer
    {
        color: $lightYellow;
    }

    .rate-select-layer{
    	color:$yellow;
    }

}

.seriePoster img{
	max-width:100%; 
}

/*******************************************/
.series{
	img{
		max-width:100px;
	}
}

.serie-yearAndGenre{
	color:$gray;
	margin-bottom:1rem;
	display:block;
}

.serie{

	background-color:#fff;
	padding:10px;
	border-radius:5px;
	border:solid 1Px $border;

	font-size:0.9rem;

	a {
		h4{
			color:$primaryColor;

			&:hover{
				color:$primaryColorHover;
			}

		}

		&:hover{
			text-decoration:none;
		}
	}

	.poster{
		img{
			width:70px;
		}

		&:hover{
			opacity:0.8;
		}

	}

}

.replies{

	background-color:$background2;
	padding: 10px;
	border-radius: 5px;
	border: solid 1Px #ddd;
	font-size: 0.9rem;
	margin-top:1rem;
	
	.reply{
		
	}
}